
  <footer>
    <div class="container">

      <div class="footer-body">

        <div class="footer-logo">
            <img src="/assets/img/logodark.png" alt="">
            <div class="footer-number">
                <p>1300 657 436</p>
            </div>
        </div>

      <div class="row uptick-brands">
        <a href="/workforce">
          <div class="product-wrapper">
            <div class="icon">
              <img src="/assets/img/workforce.png" alt="workforce" />
            </div>
            <div>
              <img src="/assets/img/logodark.png" alt="Uptick" />
              <h2>Workforce</h2>
              <p class="footer-hide">A job management system, designed for the compliance industry</p>
            </div>
          </div>
        </a>
        <a href="/compliance">
          <div class="product-wrapper">
            <div class="icon">
              <img src="/assets/img/compliance.png" alt="workforce" />
            </div>
            <div>
              <img src="/assets/img/logodark.png" alt="Uptick" />
              <h2>Compliance</h2>
              <p class="footer-hide">A beautiful compliance portal for building owners and managers.</p>
            </div>
          </div>
        </a>
        <a href="/maintenance">
          <div class="product-wrapper">
            <div class="icon">
              <img src="/assets/img/maintenance.png" alt="workforce" />
            </div>
            <div>
              <img src="/assets/img/logodark.png" alt="Uptick" />
              <h2>Maintenance</h2>
              <p class="footer-hide">A powerful maintenance management system for property strata managers.</p>
            </div>
          </div>
        </a>
      </div>

      <div class="footer-legal">
        <p>Privacy</p>
        <p>Legal</p>
      </div>
      <div class="bottom-footer">
        <div class="footer-copyright">
            <p>Copyright © 2018 Uptick Inc. All rights reserved.</p>
        </div>
        <div class="footer-social">
          <div class="social-circle">
              <i class="fab fa-facebook-f"></i>
          </div>
          <div class="social-circle">
              <i class="fab fa-linkedin-in"></i>
          </div>
          <div class="social-circle">
              <i class="fab fa-twitter"></i>
          </div>
          <div class="social-circle">
              <i class="fab fa-youtube"></i>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="/assets/js/app.js"></script>
<script src="/assets/js/stickybits.min.js"></script>


 <!--Initializing-->
 <script>
    var titanic = new Titanic({
      hover: true, // auto animated on hover (default true)
      click: true  // auto animated on click/tap (default false)
    });
</script>

<script>
  stickybits('.sticky-navigation', {useStickyClasses: true});
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68695022-1', 'auto');
  ga('send', 'pageview');
</script>

</body>
</html>
