<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Human Kind</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/assets/css/master.css" >
  <link href="https://fonts.googleapis.com/css?family=Puritan:400,700" rel="stylesheet">
  <script src="https://cdn.rawgit.com/icons8/titanic/master/dist/js/titanic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/4.5.9/bodymovin.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">



  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="icon" href="/assets/img/logo@3x.png">
</head>
<body class="section-{{ page.section }}">
<!--[if lte IE 8]>
  <div style="background: rgb(197, 47, 60); text-align: center; padding: 25px; font-size: 110%; width: 100%; color: white;">Your version of Internet Explorer is no longer supported by Microsoft and is a security risk. You must upgrade your browser to use Uptick. Upgrade to a <a href="http://browsehappy.com/" style="color: white; text-decoration: underline;">recommended browser</a> or <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" style="color: white; text-decoration: underline;">update Internet Explorer</a>.
  </div>
<![endif]-->



