<header class="main-nav sticky-navigation">
  <nav class="navbar navbar-expand-md">
    <a class="navbar-brand initial-brand" href="/"><img src="/assets/img/logowhite.png" alt="Uptick" /></a>
    <a class="navbar-brand hidden-brand" href="/"><img src="/assets/img/simple_logo.png" alt="Uptick" /></a>

    <button id="nav-icon1" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbardropdown" aria-controls="navbardropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item {% if page.section == 'home' %}active{% endif %}"> <a class="nav-link" href='/'>Home</a></li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Products
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="dropdown-heading">
                <p>Products</p>
              </div>
              <a class="dropdown-item product" href="/workforce">
                <div class="product-wrapper">
                  <div class="icon">
                    <img src="/assets/img/workforce.png" alt="workforce" />
                  </div>
                  <div>
                    <img src="/assets/img/logodark.png" alt="Uptick" />
                    <h2>Workforce</h2>
                    <p>A job management system, designed for the compliance industry</p>
                  </div>
                </div>
              </a>
              <a class="dropdown-item product" href="/compliance">
                <div class="product-wrapper">
                  <div class="icon">
                    <img src="/assets/img/compliance.png" alt="compliance" />
                  </div>
                  <div>
                    <img src="/assets/img/logodark.png" alt="Uptick" />
                    <h2>Compliance</h2>
                    <p>A beautiful compliance portal for building owners and managers.</p>
                  </div>
                </div>
              </a>
              <a class="dropdown-item product" href="/maintenance">
                <div class="product-wrapper">
                  <div class="icon">
                    <img src="/assets/img/maintenance.png" alt="workforce" />
                  </div>
                  <div class="content">
                    <img src="/assets/img/logodark.png" alt="Uptick" />
                    <h2>Maintenance</h2>
                    <p>A powerful maintenance management system for property strata managers.</p>
                  </div>
                </div>
              </a>
              <div class="dropdown-footer">
                <div class="dropdown-action demoNavigation">Book Demo</div>
              </div>
            </div>
        </li>            
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item navigation-action {% if page.section == 'contact' %}active{% endif %}"> <a class="nav-link" href='/contact/'>Contact</a></li>
      </ul>
    </div>
    
    <div class="collapse navbar-collapse justify-content-between mainDropdownMenu" id="navbardropdown">
      <div class="dropdown-box">

        <div class="dropdown-heading">
          <p>Products</p>
          <div class="dropdown-exit">
              <i class="fas fa-times"></i>
          </div>
        </div>
        <div class="dropdown-content">
          <a href="/workforce">
            <div class="product-wrapper">
              <div class="icon">
                <img src="/assets/img/workforce.png" alt="workforce" />
              </div>
              <div>
                <img src="/assets/img/logodark.png" alt="Uptick" />
                <h2>Workforce</h2>
                <p>A job management system, designed for the compliance industry</p>
              </div>
            </div>
          </a>
          <a href="/compliance">
            <div class="product-wrapper">
              <div class="icon">
                <img src="/assets/img/compliance.png" alt="compliance" />
              </div>
              <div>
                <img src="/assets/img/logodark.png" alt="Uptick" />
                <h2>Compliance</h2>
                <p>A beautiful compliance portal for building owners and managers.</p>
              </div>
            </div>  
          </a>
          <a href="/maintenance"> 
            <div class="product-wrapper">
              <div class="icon">
                <img src="/assets/img/maintenance.png" alt="workforce" />
              </div>
              <div class="content">
                <img src="/assets/img/logodark.png" alt="Uptick" />
                <h2>Maintenance</h2>
                <p>A powerful maintenance management system for property strata managers.</p>
              </div>
            </div>
          </a>
        </div>
        
        <div class="dropdown-footer">
          <div class="dropdown-action demoNavigation">Book Demo</div>
        </div>
      </div>
    </div>
  </nav>
</header>