

.about-slant{
  position: absolute;
  width: 50vw;
  right: 0px;
  height: 100%;
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url(/assets/img/collage@3x.png);
  @media screen and (max-width: 992px){
    display: none;
  }
}

.about-header{
  position: relative;
  background-color: #f3f4f7;
  padding-top: 158px;
  padding-bottom: 70px;

  // &:before{
  //   content: "";
  //   position: absolute;
  //   width: 700px;
  //   height: 100%;
  //   top: 0px;
  //   right: 0px;
  //   z-index: 1;
  //   background: black;
  //   border-bottom: 100px solid #333;
  //   border-left: 50px solid transparent;


  // }

  h1{
    font-family: $mainFont;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: #1a324e;
    padding-bottom: 40px;
  }

  h3{
    font-family: $mainFont;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: #6b7c93;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .heading{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    img{
      margin-right: 18px;
    }
    p{
      font-family: $mainFont;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 0.2px;
      color: #0c3769;
      margin-bottom: 0px;
    }
  }

  p{
    font-family: $mainFont;
    font-size: 18px;
    line-height: 1.61;
    letter-spacing: 0.2px;
    color: #6b7c93;
    font-weight: 200;
  }
}


.about-team{
  padding-top: 62px;
  padding-bottom: 70px;
  border-bottom: solid 1px #d3d7dd;

  h1{
    font-family: $mainFont;
    margin-bottom: 41px;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: #1a324e;
  }
    
  h3{
    margin-bottom: 29px;
    font-family: $mainFont;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: #6b7c93;
    text-transform: uppercase;
  }

  p{
    font-family: $mainFont;
    font-size: 18px;
    line-height: 1.61;
    letter-spacing: 0.2px;
    color: #6b7c93;
    margin-bottom: 29px;
  }
}

.advisory-team{
  padding-top: 100px;
  padding-bottom: 95px;
  h3{
    font-family: $mainFont;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: #6b7c93;
    text-transform: uppercase;
    margin-bottom: 32px;
  }
  p{
    font-family: $mainFont;
    font-size: 18px;
    line-height: 1.61;
    letter-spacing: 0.2px;
    color: #6b7c93;
    margin-bottom: 30px;
  }
}

.team-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  .team-member{
    cursor: pointer;
    height: 220px;
    width: 167px;
    margin-bottom: 19px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &:hover{
      .background-hover{
        opacity: 0.8;
      }

      p{
        display: block;
        margin: 0px;
        font-family: $mainFont;
        text-align: center;
        font-size: 12px;
        color: #2F2E2E;
      }
      .heading{
        font-weight: 800;
        font-size: 18px;
        color: #2F2E2E;
        margin-bottom: 5px;
        font-weight: 900;
      }
    }
    
    .background-hover{
      transition: 0.3s;
      position: absolute;
      opacity: 0;
      top:0px;
      left:0px;
      width: 100%;
      height: 100%;
      background-color: #fff;
    }

    p{
      display: none;
      z-index: 2;
    }
  }
}