.career-banner{
  position: relative;
  background-image: url(/assets/img/header.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.career-heading{
  position: relative;
  padding-top: 170px;
  text-align: center;
  margin-bottom: 32px;
  h1{
    font-family: $mainFont;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: #1a324e;
    margin-bottom: 41px;
  }

  h3{
    font-family: $mainFont;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: #6b7c93;
    text-transform: uppercase;
  }
}
.career-box{
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  border: solid 1px #eff0f2;
  background-color: #ffffff;
  padding: 32px;
  border-radius: 2px;
  transition: 0.3s;
  max-width: 450px;

  @media screen and (max-width: 992px){
    margin: auto;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 576px){
    h1{
      font-size: 14px!important;
    }
  }

  &:hover{
    box-shadow: 2px 2px 13px 0 rgba(32, 196, 238, 0.47);
  }

  img{
    margin-bottom: 15px;
  }

  .title{
    height: 53px;
    margin-bottom: 17px;
    @media screen and (max-width: 576px){
      height: 32px;
    }
  }

  .job-title{
    font-family: $mainFont;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #0c3769;
    margin-bottom: 0px;
  }

  .additional-title-info{
    font-family: $mainFont;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #0c3769;
    margin-bottom: 0px;
  }

  .job-location{
    font-family: $mainFont;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #6b7c93;
    margin-bottom: 23px;
    @media screen and (max-width: 992px){
      font-size: 14px;
    }
  }

  .banner-action{
    width: 169px;
    border-radius: 2px;
    background-color: #0c3769;
    box-shadow: 2px 2px 13px 0 rgba(107, 124, 147, 0.53);
  }
}

.career-filter-home{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, #fff);
}


