.footer{
  position: relative;
  background-color: #f9f9f9;
  height: 650px;
}

.home-create-box{
  display: flex;
  justify-content: center;
  margin-top: 200px;

  .home-create{
    cursor: pointer;
    width: 698px;
    height: 112px;
    border-radius: 56px;
    background-color: #ff8c00;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);

    &:hover{
      box-shadow: 0 7px 14px rgba(50,50,93,.41), 0 3px 6px rgba(0,0,0,.08);
      transform: translateY(-1px);
    }

    p{
      margin: 0px;
      color: #fff;
      font-family: $mainFont;
      font-size: 39px;
      font-weight: 700;
    }
  }
}

.header-logo{
  bottom: 0px;
  text-align: center;
  font-family: "Puritan",sans-serif;
  font-size: 120px;
  font-weight: 700;
  color: #ffffff;
  margin: 0px;
  position: absolute;
  margin: auto;
  width: 100%;
  margin-bottom: 40px;
  // text-shadow: 1px 1px 9px #ffffff;
}