.home-sell{
  height: 800px;
  width: 100%;
  background-color: #fffbf5;
  padding: 150px 0;
}

.home-secure{
  height: 800px;
  width: 100%;
  background-color: white;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;

  .secure-header{
    height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h1{
      font-family: $mainFont;
      font-size: 90px;
      font-weight: 700;
      color: #2d384c;
    }
    h4{
      margin-bottom: 0px;
      color: #2d384c;
      text-transform: uppercase;
      font-size: 18px;
      font-family: $mainFont;
      font-weight: 400;
      letter-spacing: 0.4px;
    }

    .secure-content{
      margin: 50px 0;
    }

    p{
      font-family: $mainFont;
      font-size: 24px;
      font-weight: 700;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.46;
      letter-spacing: normal;
      color: #2d384c;
  
    }

  }
}

.home-instant{
  height: 800px;
  width: 100%;
  background-color: white;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;

  .instant-header{
    height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h1{
      font-family: $mainFont;
      font-size: 90px;
      font-weight: 700;
      color: #ffffff;
    }
    h4{
      margin-bottom: 0px;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 18px;
      font-family: $mainFont;
      font-weight: 400;
      letter-spacing: 0.4px;
    }
    p{
      font-family: $mainFont;
      font-size: 24px;
      font-weight: 700;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.46;
      letter-spacing: normal;
      color: #ffffff;
    }

    span{
      font-size: 35px;
    }

  }
}

.home-iphone{
  display: inline-block;
  border-radius: 30px;
  box-shadow: 0px 0px 0px 11px #000, 0px 0px 0px 13px #000;
  img{
    height: 544px;
    min-height: 544px;
    width: auto;
  }
}

.header{
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  h1{
    text-transform: uppercase;
    font-size: 18px;
    font-family: $mainFont;
    font-weight: 400;
    letter-spacing: 0.4px;
  }

  h4{
    font-size: 66px;
    font-weight: 700;
    margin-top: -7px;
    margin-bottom: 30px;
  }
}

.fee-container{
  height: 800px;

  .fee-box{
    margin: auto;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fee-rate{
    h1{
      color: #fff;
      font-family: $mainFont;
      font-size: 200px;
      line-height: 120px;
    }
    .competitor-rate{
      font-size: 140px!important;
    }
    span{
      font-size: 50px;
    }

    h3{
      font-family: $mainFont;
      color: white;
      text-transform: uppercase;
      font-weight: 700;
    }

    p{
      font-family: $mainFont;
      font-size: 20px;
      font-weight: 700;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      text-transform: uppercase;
      margin-right: 30px;
    }
  }

  .fee-amount{
    width: 128px;
    height: 128px;
    background-image: linear-gradient(to bottom, #4eff00, #49a000);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .fee{
    height: 96px;
    width: 96px;
    border-radius: 50%;
    background-color: #2d384c;

  }
}


.time-box{
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.time-content{
  width: 300px;

  .time-heading{
    font-family: $mainFont;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    text-transform: uppercase;
  }

  .time-tracker{
    font-family: $mainFont;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 0px;
  }
  margin-bottom: 20px;
}



.time-loader{
  box-shadow: 0 2px 4px 0 #a05a05;
  position: relative;
  width: 300px;
  height: 22px;
  border-radius: 10px;
  background-color: #ffffff;
  overflow: hidden;
}

.load-amount{
  width: 0px;
  height: 22px;
  background-color: #8edc10;
  position: absolute;
  top:0px;
}

.money-timer{
  display: flex;
  align-items: center;

  #moneyWings{
    height: 30px;
    width: auto;
    margin-left: 20px;
    display: none;
  }
}


@keyframes placeHolderShimmer{
  0%{
      background-position: -300px 0
  }
  100%{
      background-position: 300px 0
  }
}

.load-amount {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #8edc10;
  background: linear-gradient(to right, #8edc10 8%, #98ec11 18%, #8edc10 33%);
  background-size: 800px 104px;


  width: 0px;
  height: 22px;
  background-color: #8edc10;
  position: absolute;
  top:0px;
}

.beemit_link{
  display: flex;
  align-items: baseline;
  .beemit-link-content{
    transition: 0.3s;
    display: flex;
    align-items: baseline;
    width: 100%;
  }

  &:hover{
    .beemit-link-content{
      filter: blur(8px);
    }

    .website-button{
      margin-top: 0px;
      opacity: 1;
      transform: scale(1.05);
    }
    
  }

  p{
    margin-bottom: 0px;
  }

  img{
    margin-left: 20px;
  }

  .website-button{
    cursor: pointer;
    opacity: 0;
    position: absolute;
    background-color: #ff2369;
    margin-top: 20px;
    margin-left: 60px;
    border-radius: 4px;
    transition: .7s cubic-bezier(.19,1,.22,1);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);

    p{
      color: white;
      font-family: $mainFont;
      padding: 10px 20px;
      font-size: 14px;
      text-transform: uppercase;
      font-size: 400;
      letter-spacing: 1px;
    }
  }
}

.secure-logo-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .cba-logo{
    margin: 80px;
  }

  .secure-logo{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    img{
      height: auto;
      width: 80px;
      
    }
  }
}




.home-footer{
  position: relative;
  height: 800px;
  width: 100%;
  background-color: #f9f9f9;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;

  .fancy-curve{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    // height: 32px;
    // background-position: center;
    background-size: cover;
  }



  .secure-header{
    height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h1{
      font-family: $mainFont;
      font-size: 90px;
      font-weight: 700;
      color: #2d384c;
    }
    h4{
      margin-bottom: 0px;
      color: #2d384c;
      text-transform: uppercase;
      font-size: 18px;
      font-family: $mainFont;
      font-weight: 400;
      letter-spacing: 0.4px;
    }

    .secure-content{
      margin: 50px 0;
    }

    p{
      font-family: $mainFont;
      font-size: 24px;
      font-weight: 700;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.46;
      letter-spacing: normal;
      color: #2d384c;
  
    }

  }
}

.contain-curve{
  width: 100%;
  position: relative;
}

