.pricing-intro{
  padding: 50px 0 100px!important;
  @media screen and (max-width: 768px){
    padding: 50px 0!important;
  }
}

.pricing-plans{
  padding: 41px 0 0;
  background-color: #fff;
  background-image: url("/assets/img/advisory-bg.svg");
  background-position: center center;
  background-size: cover;
  padding-bottom: 100px;
  @media screen and (max-width: 992px){
    padding: 50px 0;
  }
  .plan-list{
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    padding: 24px;
    margin-bottom: 0px;
    height: 500px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
    @media screen and (max-width: 992px){
      // margin-bottom: 20px;
    }

    .learn-action{
      position: absolute;
      bottom: 0px;
      margin: 0px;
      margin-bottom: 30px;

      p{
        margin-left: 0px;
        font-weight: 500;

        font-family: $mainFont;
        font-size: 15px;
        font-weight: 600;
        color: #20c4ee;
      }

      .dark-blue{
        color: #0b3769;
      }
      .medium-blue{
        color: #1b63a4
      }
    }

    li{
      color: #1b63a4;
      font-family: "Raleway",sans-serif;
      font-weight: 400;
      list-style-type: none;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      font-family: $mainFont;
      font-size: 18px;
      line-height: 1.22;
      letter-spacing: 0.2px;
      color: #1b63a4;


      span{
        text-transform: capitalize;
      }
    }
  }
  .plan-compare{
    background-color: #e0e5ec;
    padding: 10px 7px;
    border-radius: 4px;
    margin-bottom: 100px;
    margin: auto;
    .pricing-block{
      padding: 0 3px!important;
      
      

      .contains{
        padding: 10px;
        color: $mainGrey;
        font-family: $mainFont;
        font-size: 20px;
        background-color: #f6f9fc;
        border-bottom: 1px solid #e6ebf1;
        margin-top: 10px;
        border-radius: 4px 4px 0 0;
      }
      .features{
        padding: 10px;
        color: #ffffff;
        font-family: $mainFont;
        font-size: 20px;
        background-color: #f6f9fc;
        border-radius: 4px 4px 0 0px;
        border-bottom: 1px solid #d7e5ff;
        margin-top: 10px;
      }
    }
    .price-header{
      height: 70px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #1b63a4;
      position: relative;
      margin-bottom: 10px;
      box-shadow: 1px 1px 5px 0 rgba(107, 124, 147, 0.4);
      @media screen and (max-width: 992px){
        margin-top: 10px;
      }

      h4{
        color: white;
        font-family: $mainFont;
        margin: 0px;
        font-size: 22px;
        font-weight: 500;
        letter-spacing: 0.2px;
        color: #ffffff;
      }

      &::before{
        content: "";
        position: absolute;
        left: -5px;
        top: calc(50% - 16px);
        width: 15px;
        height: 32px;
        background: url('/assets/img/icon.svg');
        @media screen and (max-width: 992px){
          display: none;
        }
      }
    
      &::after{
        content: "";
        position: absolute;
        z-index: 4;
        right: -6px;
        top: calc(50% - 10px);
        width: 20px;
        height: 20px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        border-radius: 3px;
        background-color: #1b63a4;

        @media screen and (max-width: 992px){
          display: none;
        }
      }
    }

    .beginning{
      background: #21c4ed;
      margin-bottom: 10px;
      &::before{
        background: none!important;
      }
      &::after{
        background-color:#21c4ed;
      }
    }
    .end{
      background: #0b3769;
      &::after{
        background: none!important;
      }
    }
  }
}


.pricing-deals{
  padding: 0!important;

  h2{
    margin-top: 41px;
    margin-bottom: 26px;
    font-family: $mainFont;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: #1a324e;

  }
  p{
    max-width: 661px;
    margin-bottom: 24px;
    font-family: $mainFont;
    font-size: 18px;
    letter-spacing: 0.2px;
    color: #6b7c93;
   @media screen and (max-width: 992px){
     max-width: 100%;
   }
  }
  .feature-line{
    width: 140px;
    height: 4px;
    margin: 50px auto;
    background-color: $feature-blue;
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #00a19a), color-stop(100%, #00adef));
  }
}

.pricing-process{
  padding: 100px 0;
  @media screen and (max-width: 768px){
    padding: 0px;
  }

  h2{
    text-align: center;
  }

  p{
    text-align: center;
    margin-bottom: 75px;
  }
}

.pricing-extras{
  padding: 50px 0 100px;

  thead{
    margin-bottom: 10px;
  }
  tr{
    height: 50px;
  }
  th{
    color: $mainGrey;
    font-family: $mainFont;
    vertical-align: top;
    @media screen and (max-width: 992px){
      font-size: 13px;
      padding-right: 10px;
    }
  }

  .pricing-cell{
    color: $mainGrey;
    font-family: $mainFont;
    vertical-align: top;
  }
}

.pricing-question-form{
  margin: auto;
  max-width: 479px;
}

td{
  p{
    @media screen and (max-width: 768px){
      font-size: 10px!important;
    }
  }
}