body{
  // width: 100vw;
  overflow-x: hidden;
  position: relative;
}

.mast-styling{
  // opacity: 0.5;

  @media screen and (max-width: 992px){
    display: none;
  }
}

.test{
  &-main-circle{
      position: absolute;
      top: 0px;
      width: 100vw;
      height: 100vw;
      background-color: #f3f8fe;
      border-radius: 100%;
      transform: translate(-15vw, -58vw);
  }
  &-main-square{
    position: absolute;
    z-index: 0;
    top: 0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: #f6f9fc;
    background-image: url('/assets/img/wireframes/masthead.png');
    background-size: cover;
    text-align: center;
  }
  &-second-circle{
      position: absolute;
      height: 25vw;
      width: 25vw;
      border-radius: 100%;
      background: linear-gradient(120deg,#bd9bff 15%,#9583fd 70%,#6463fd 94%);
      top:-8vw;
      right: 15vw;
      overflow: hidden;
      z-index: 5;
     
  }
}

.second-effect{
  display: none;
  position: absolute;
  height: 25vw;
  width: 25vw;
  border-radius: 100%;
  background: linear-gradient(150deg,#89c7f8 15%,#05d5ff 70%,#6463fd 94%);
  transform: rotate(44deg);
  transform: translate(45vw, -13vw);
  z-index: 100;
}

.triangle-box{
  width: 40vw;
  height: 40vw;
  background: linear-gradient(45deg, #e35f86 20%, #ffa336 45%, #ffa336 94%);
  position: absolute;
  top: -20vw;
  right: -20vw;
  transform: rotate(45deg);
  z-index: 4;
}

.triangle-box2{
  width: 20vw;
  height: 20vw;
  background: linear-gradient(45deg, #f4754a 20%, #fe5085 45%, #e35f86 94%);
  position: absolute;
  top: 20vw;
  right: -10vw;
  transform: rotate(45deg);
  z-index: 2;
  box-shadow: 0px 0px 60px 14px rgba(0,0,0,.1);
}
.triangle-box3{
  width: 20vw;
  height: 20vw;
  background: linear-gradient(45deg, #f4754a 20%, #fe5085 45%, #e35f86 94%);
  position: absolute;
  top: 19vw;
  right: -10vw;
  transform: rotate(45deg);
  z-index: 5;
  box-shadow: 0px 0px 60px 14px rgba(0,0,0,.1);
  max-width: 453px;

  @media screen and (max-width: 992px){
    display: none;
  }
}

.rectangle{
  position: relative;
  margin-top: 350px;
  height: 600px;
  width: 100%;
  background-color: #f3f8fe;
  transform: skewY(-7deg);
  transform-origin: 0;

  &::after{
      content: "";
      background-color: #f3f8fe;
      width: 100%;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 10%;
  }
}

.main-header{
  width: 65%;
  margin: 100px auto 0;
  h1{
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      color: #474c52;
      font-size: 20px;
      letter-spacing: 2px;
  }
  h2{
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      color: #474c52;
      font-size: 45px;
      letter-spacing: 2px;
  }
}

/* The animation code */
@keyframes example {
  from {
      fill: #6463fd;
  }

  50%{
      fill: #fe5085;
  }
  to {
      fill: #6463fd;
  }
}

.testSVG{
  position: absolute;
  right:-500px;
  svg{
      transform:rotate(-42deg);
      height: 1000px;
      right: 0px;
      path{
          // fill: #f4754a!important;
          fill: #6463fd;
          animation-name: example;
          animation-duration: 6s;
          animation-direction: forward;
          animation-iteration-count:infinite;
      }
  }
}

.paintBrush{
  width: 487px;
  height: 222px;
  position: relative;
  margin: 200px auto;

  .background-image{
      position: absolute;
      background-position: center center;
      background-size: cover;
      width: 100%;
      height: 100%;
      z-index: 3;
  }
  .background-image2{
      position: absolute;
      background-position: center center;
      background-size: cover;
      width: 100%;
      height: 100%;
      z-index: 2;
  }
}





.main-banner{
  position: relative;
}
.test-banner{
  background-color: #3b3b3b!important;
  background: #3b3b3b!important;
  text-align: center!important;
  .banner-text{
    text-align: left!important;
    h1{
      text-align: left!important;
      max-width: 700px!important;
    }
  }
  .banner-action{
    text-align: left;
    a{
      text-align: left!important;
    }
  } 
}






.test-nav{
  .navbar-nav{
    margin-top: 25px;
    .nav-item{
      a{
        color: #525f7f;
        color: #fff;
      }
    }
  }
}

.secondary-nav{
  position: sticky;
  top:100px;
  // padding-top: 100px;
  // box-shadow: 0 2px 10px rgba(0,0,0,.25);
  margin-bottom: 0px;
  padding: 5px 0;
  height: 60px;
  display: flex;
  align-items: center;


  .options{
    display: flex;
    align-items: center;
    // justify-content: space-;
    h2{
      margin: 0px;
      margin-right: 20px;
      font-size: 16px;
    }
    .nav-product-pages{
      display: flex; 
    }
  }
}

.sticky-navigation{
  z-index: 100;
}


.form-wrapper {
 
  max-width: 95%;
  width: 450px;
  padding: 0px;
  // background-color: #ffffff;
  border-radius: 5px;
  // box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  @media screen and (max-width: 768px){
    // margin-top: 50px;
  }

  form{
    width: 100%;
  }
}

.form-group {
  position:relative;  

  & + .form-group {
    margin-top: 30px;
  }
}

.form-label {
  position: absolute;
  left: 0;
  top: 10px;
  color: #999;
  background-color: transparent;
  z-index: 10;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
  font-family: $mainFont;
}

.focused .form-label {
  transform: translateY(-125%);
  font-size: .75em;
  font-family: $mainFont;
}

.form-input {
  position: relative;
  padding: 12px 0px 5px 0;
  width: 100%;
  outline: 0;
  border: 0;
  box-shadow: 0 1px 0 0 #e5e5e5;
  transition: box-shadow 150ms ease-out;
  background-color: transparent;
  font-family: $mainFont;
  
  &:focus {
    box-shadow: 0 2px 0 0 $feature-blue;
  }
}

.form-input.filled {
  box-shadow: 0 2px 0 0 $feature-teal;
}

.contact-submit{
  cursor: pointer;
  color: #ffffff;
  background-color: $feature-blue;
  font-family: $mainFont;
  border: none;
  border-radius: 4px;
  padding: 5px 20px;
  box-shadow: 0 4px 6px rgba(50,50,93,0.11), 0 1px 3px rgba(0,0,0,0.08);
  transition: 0.2s;

  &:hover{

  }
}


.video{
  display: none;
  position: fixed;
  top:0px;
  left:0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255,.5);
  z-index: 9999;

  &-header{
    position: absolute;
    height:60px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &-exit{
    color: $mainGrey;
    font-size: 30px;
    cursor: pointer;
  }

  &-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    iframe{
      max-width: 90%;
    }   
  }
}