<h2>Defect Quoting</h2>
<div class="row">
    <div class="col-sm-8 float-sm-right">
      <div class="mbp">
        <img src="/assets/img/fs-defectquotes.png" />
        <img class="screen" src="/assets/img/mbp_Template.png" />
      </div>
      <!-- <div class="iphone_v2">
        <img src="/assets/img/TODO:IMAGE_NAME.png" />
        <img class="screen" src="/assets/img/iPhone6_Template.png" />
      </div> -->
    </div>

    <div class="col-sm-4 float-sm-left">
      <div class="feature">
          <h3>Automate</h3>
          <p>Automatically generate defect quotes while performing scheduled maintenance.</p>
      </div>
      <div class="feature">
          <h3>Quick Turnaround</h3>
          <p>Defect quotes can be issued directly from site ensuring a quick turnaround and minimising production overhead for your administrative staff.</p>
      </div>
      <div class="feature">
          <h3>Paperless</h3>
          <p>Defect quotes can be issued electronically, minimiziing your dependancy on paper documents.</p>
      </div>
      <div class="feature">
          <h3>Response Tracking</h3>
          <p>Customer repsonses feed directly into Uptick, creating new workorders as required.</p>
      </div>
    </div>
</div>
