{% include header.html %}
{% include navigation.html %}


<div class="video">
  <div class="video-header">
    <div class="video-exit">
        <div class="container">
          <i class="fas fa-times"></i>
        </div>
    </div>
  </div>
  <div class="video-content">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/7_1UxQrtLfQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="video-footer"></div>
</div>

<main id="content" role="main"> {{ content }} 


  <div class="footer-background_light">
    {% include footer.html %}
  </div>

</main>
